{% extends 'layout.html' %}

{% block title %}
    About
{% endblock %}

{% block header %}
    About us
{% endblock %}

{% block quote %}
{% endblock %}
{% block search %}
{% endblock %}

{% block content %}
    <p style="text-align: justify;">
        Many communities, especially those with government schools, face limited access to career guidance and resources.
        Our Career Compass is designed to address this issue by empowering individuals through a centralized career exploration and guidance platform.
        The goal is to offer a comprehensive career guidance and support.
        The platform will centralize essential information on various career pathways, qualifications, courses, and strategies for exam preparation.
        By consolidating these resources, the platform seeks to make career guidance accessible to people from diverse backgrounds, regardless of their initial level of access.
        Ultimately, the career compass aspires to bridge the gap in career guidance, providing a crucial support system for those who may not otherwise have access to such information.

    </p>
    <p style="text-align: justify;">
    <b>Aim of the Project:</b> To equip individuals by providing accessible and comprehensive career guidance, enabling them to pursue their passions.

    <br><b>Scope of the Project</b>: The Scope of the project includes the development of a website that will,

    Centralize information on various career pathways, including detailed descriptions of professions, required qualifications, and potential career trajectories.
    Ensure accessibility and usability for individuals from diverse backgrounds, with a focus on those from underrepresented communities.
    Serve as a comprehensive tool for career guidance, enabling users to make informed decisions about their professional futures

    </p>
{% endblock %}

